{% extends "layout.html" %}

{% block head %}
<title>评论检测系统</title>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <!--        <div class="col-4 row-sm-3"></div>-->
        <div class="row my-3">
            <div class="col-4 row-sm my-5">
                <img src="{{url_for('static', filename='scores.png')}}" height="500" width="600">
            </div>
            <div class="col- row-sm">
                <img src="{{url_for('static', filename='top_n.png')}}" height="360" width="900">
            </div>
        </div>
    </div>
</main>
{% endblock %}